/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;
.icon-container {
  display: inline-flex; /* Align items in a row */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  width: 50px; /* Set width for the round border */
  height: 50px; /* Set height for the round border */
  border: 3px solid blue; /* Green border */
  border-radius: 50%; /* Make the border round */
  background-color: transparent; /* Transparent background */
  margin: 10px; /* Margin for spacing */
}
.icon-style {
  color: blue; 
  font-size: 24px; 
}